<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEN</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

   <form action="/getData" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button>Submit Form</button>
   </form>
    
</body>
<script src="/assets/index.js"></script>
</html>